:root {
    --pink: #df169a;
    --white: white;
    --black: black;
}

body {
    margin: 0;
    padding: 20px;
    font-family: BlinkMacSystemFont, 'Segoe UI', sans-serif;
    text-align: center;
    background-color: #f8f9fa;
}

h1 {
    color: #333;
    margin-bottom: 10px;
}

.panelButtons {
    margin-top: 30px;
    padding: 2px;

}

button {
    background-color:var(--pink);
    color: var(--white);
    border: none;
    padding: 20px 40px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
    margin: 0 10px;
    transition: all 0.2s;
}

button:hover {
    background-color: var(--pink);
}

button:active {
    transform: translateY(1px);
}

label {
    font-size: 22px;
    color: #333;
    vertical-align: middle;
    border: 3px solid var(--black);
    border-radius: 8px;
    padding: 16px 40px;
}

input {
    /* margin-right: 15px;
    margin-left: 15px; */
    transform: scale(2);
    border: 5px solid var(--black);
}

.dragging {
    opacity: 0.8;
}

svg#svgBoxForItems {
    border: 2px solid #ccc;
    background-color: #f5f5f5;
    border-radius: 8px;
    cursor: grab;
}

svg#svgBoxForItems:active {
    cursor: grabbing;
}

svg#svgContainer {
    border: 2px solid #ccc;
    background-color: #f5f5f5;
    border-radius: 8px;
    cursor: grab;
}

svg#svgContainer:active {
    cursor: grabbing;
}


/* Стили для элементов на боковой панели */
.item-icon {
    transition: transform 0.2s;
}

.item-icon:hover {
    transform: scale(1.01);
}

.item-icon:active {
    cursor: grabbing;
}

/* Стили для элементов на основном поле */
.draggable-item {
    cursor: move;
    transition: filter 0.2s;
}

.draggable-item:hover {
    filter: brightness(1.1);
}

.draggable-item:active {
    cursor: grabbing;
}

.container {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 20px;
    padding: 0 20px;
}

.item-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    padding: 20px;
    border-radius: 8px;
}

.item-sidebar h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
    font-weight: 600;
}

.background-svg {
    pointer-events: none;
    user-select: none;
}

.container {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.item-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-sidebar h2 {
    margin-bottom: 10px;
    color: #333;
}